* {
  font-family: "Roboto";
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: auto;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 40px;
  scroll-behavior: smooth;
}

html {
  background-color: #f9f9f9;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-color: lightgrey whitesmoke;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

.bloque {
  font-weight: 400;
  background-color: white;
  border: 1px solid grey;
  display: block;
  font-size: 1rem;
  margin-top: 30px;
  margin-right: 5%;
  margin-left: 5%;
  padding: 1em 2em;
  overflow: hidden;
}

/*///////////////////////////////////////////////////////////////////////////////*/

.menu {
  background-color: #2a2a2a;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 3.4em;
}

.zonaMenu {
  position: absolute;
  height: 3.4em;
}

.listaMenu {
  list-style-type: none;
  overflow: hidden;
}

.opcionesLista {
  float: left;
}

.enlacesMenu {
  text-transform: uppercase;
  color: #bbb0b0;
  text-decoration: none;
  display: block;
  padding: 0 1em;
}

/*///////////////////////////////////////////////////////////////////////////////*/

.introduccion {
  height: 100vh;
  background-color: #121212;
  text-align: center;
}

.introducion2 {
  color: black;
  position: absolute;
  margin-top: 40vh;
  margin-left: 10vw;
}

.introduccion span {
  color: black;
  text-transform: uppercase;
  display: block;
}

.introduccion .text1 {
  color: black;
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  animation: text 3s 1;
}

.introduccion .text2 {
  font-size: 30px;
  color: #6ab04c;
}

@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
}

/*///////////////////////////////////////////////////////////////////////////////*/

.zonaIndice {
  position: absolute;
  right: 0;
  margin-top: 0.8%;
  margin-right: 10%;
}

.indiceIconoEnlace {
  font-size: 20px;
  color: #bbb0b0;
  cursor: pointer;
}

#indice {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  margin-right: 9%;
  margin-top: 3%;
  animation: indice 1s 1;
}

@keyframes indice {
  0% {
    font-size: 1px;
    margin-left: 100%;
  }
}

#marcadores {
  display: grid;
}

#marcadores a {
  background-color: #2a2a2a;
  color: #bbb0b0;
  border: 1px solid darkgray;
  text-decoration: none;
}

#marcadores a:hover {
  transition: all 0.3s;
  padding-left: 30px;
  padding-right: 10px;
}

.formulario {
  padding-left: 1em;
}

.footer {
  background-color: blue;
  color: red;
  text-align: center;
  align-items: center;
  height: 40px;
  width: 100%;
}

/*///////////////////////////////////////////////////////////////////////////////*/

.enlaces {
  text-decoration: none;
  color: white;
}

.frame {
  width: 100%;
  height: 500px;
}

#boton {
  background-color: blue;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: wait;
}

#circle {
  list-style-type: circle;
}

#square {
  list-style-type: square;
}

#none {
  list-style-type: none;
}

#color_textos {
  color: blue;
}

#tipo_fuente {
  font-family: courier;
}

#tamaño_texto {
  font-size: 30px;
}

#alinear_texto {
  text-align: center;
}

#bordes_color {
  border: 4px solid green;
}

#atributo_id {
  margin-left: 43px;
}

.atributo_class {
  margin-left: 43px;
}

table {
  width: 100%;
}

#horario_titulo {
  text-align: center;
}

#recreo_titulo {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
}

table#t01 tr:nth-child(odd) {
  background-color: #fff;
}

table#t01 th {
  background-color: black;
  color: white;
}

.clearfix {
  border: 3px solid #4caf50;
}

#float_derecha {
  float: right;
  width: 150px;
  height: 150px;
}
