* {
  font-family: "Roboto";
}
body {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: auto;
}

@media (prefers-color-scheme: light) {
  html {
    background-image: white;
    scroll-behavior: smooth;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 40px;
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #34ff89;
  }
  ::-webkit-scrollbar-track {
    background-color: #282a39;
  }
  .bloque {
    background-color: white;
    border: 1px solid grey;
    display: block;
    font-size: 10pt;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    min-width: 30px;
    border-radius: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1b2838;
    scroll-behavior: smooth;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 40px;
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #34b5ff;
  }
  ::-webkit-scrollbar-track {
    background-color: #282a39;
  }
  .bloque {
    color: seashell;
    background-color: #212121;
    border: 1px solid black;
    display: block;
    font-size: 10pt;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    min-width: 30px;
    border-radius: 20px;
  }
}

.contenido {
  padding: 0px;
  margin-left: 2%;
  margin-right: 3%;
}

.introduccion {
  height: 100vh;
  background-color: black;
  text-align: center;
}
.introducion2 {
  position: absolute;
  margin-top: 40vh;
  margin-left: 10vw;
}
.introduccion span {
  text-transform: uppercase;
  display: block;
}
.introduccion .text1 {
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  animation: text 3s 1;
}
.introduccion .text2 {
  font-size: 30px;
  color: #6ab04c;
}

@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
}

.menuEjercicios {
  position: absolute;
  width: 200px;
  margin-left: 20%;
  margin-top: 5%;
  max-width: 30%;
  animation: ejercicios 3s 1;
}

@keyframes ejercicios {
  0% {
    margin-top: -200px;
  }
}
.menuEjercicios:hover {
  width: 210px;
  transition: all 0.2s;
}
.enlacesE {
  display: grid;
  position: absolute;
  margin-left: 82%;
  margin-top: 6%;
  background: #555;
  animation: ejercicios 1s;
}
.enlacesE .enlacesEjercicios {
  color: white;
  text-decoration: none;
  padding: 15px;
  border: 2px solid grey;
}

.frames {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
  width: 54%;
  height: 67%;
}
#indice {
  position: absolute;
  top: 100;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.footer {
  background-color: blue;
  color: red;
  text-align: center;
  align-items: center;
  height: 40px;
  width: 100%;
}
