@font-face {
  font-family: Minecraft;
  src: url("../font-awesome-4.7.0/fonts/1_MinecraftRegular1.otf");
}

.background {
  background-image: url("../img/fondoMinecraft.png");
  position: relative;
  width: 100%;
  height: 100vh;
}

.layer {
  background: #000000ad;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: auto;
}

.fondo {
  width: 100%;
  height: 100vh;
}

.borde {
  border: 3px solid black;
}

.menu {
  margin-left: 587px;
  margin-top: 275px;
  width: 672px;
  height: 348px;
}

.texto {
  font-size: 19px;
  padding-top: 13px;
  text-decoration: none;
  color: white;
  font-family: Minecraft;
  text-align: center;
  border-bottom: 6px solid #525252;
  border-right: 3px solid #525252;
  border-top: 3px solid #aaaaaa;
  border-left: 3px solid #aaaaaa;
  text-shadow: 3px 3px #353333;
}

.texto:hover {
  background: #929fdc80;
  border-bottom: 6px solid #929fdc80;
  border-right: 3px solid #929fdc80;
  border-top: 3px solid #929fdc80;
  border-left: 3px solid #929fdc80;
  color: yellow;
}


#volver {
  background: url(../img/stone.jpg);
  float: right;
  display: grid;
  height: 54px;
  margin-bottom: 12px;
  width: 594px;
}

#progresos {
  background: url(../img/stone.jpg);
  display: grid;
  float: right;
  width: 288px;
  height: 54px;
  margin-left: 12px;
  margin-bottom: 12px;
}

#estadisticas {
  background: url(../img/stone.jpg);
  float: right;
  display: grid;
  width: 288px;
  height: 54px;
  margin-bottom: 12px;
}

#lan {
  background: url(../img/stone.jpg);
  float: right;
  display: grid;
  height: 54px;
  width: 594px;
  margin-bottom: 12px;
}

#opciones {
  background: url(../img/stone.jpg);
  float: right;
  display: grid;
  width: 288px;
  height: 54px;
  margin-bottom: 12px;
  margin-left: 12px;
}

#mods {
  background: url(../img/stone.jpg);
  float: right;
  display: grid;
  width: 288px;
  height: 54px;
  margin-bottom: 12px;
}

#salir {
  background: url(../img/stone.jpg);
  float: right;
  display: grid;
  height: 54px;
  width: 594px;
}

#q {
  background: url(../img/stone.jpg);
  display: grid;
  float: left;
  width: 54px;
  height: 54px;
}

#textoq {
  color: #48ddbc;
}