body {
  background-color: #f9f9f9;
}

.encabezado {
  background-color: #ffffff;
  height: 76px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  position: absolute;
}

.encuadroImagen {
  position: relative;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  margin-top: 115px;
  margin-left: 315px;
  margin-right: 312px;
  margin-bottom: 53px;
  height: 596px;
  width: 816px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.zonaFoto {
  position: absolute;
  left: 0%;
  bottom: 0%;
  height: 598px;
  width: 479px;
  border-right: 1px solid #efefef;
}

.zonaSeguir {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-left: 480px;
  height: 70px;
  width: 336px;
  border-bottom: 1px solid #efefef;
}

.zonaComentarios {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-left: 480px;
  margin-top: 71px;
  width: 336px;
  height: 376px;
  border-bottom: 1px solid #efefef;
}

.zonaLikes {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-left: 480px;
  margin-top: 448px;
  width: 336px;
  height: 93px;
  border-bottom: 1px solid #efefef;
}

.zonaIniciarSesion {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  margin-left: 480px;
  margin-top: 542px;
  width: 336px;
  height: 55px;
}
.miniaturaPerfilRosalia {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 35px;
  height: 35px;
  border: 3px solid #da2d79;
  margin-left: 17px;
  margin-top: 17px;
}
#rosaliavt {
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  margin-left: 71px;
  margin-top: 20px;
}
#seguir {
  color: blue;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  margin-left: 151px;
  margin-top: 20px;
}
#localizacion {
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0px;
  position: absolute;
  margin-top: 37px;
  margin-left: 71px;
}
#sesion {
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  color: grey;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  font-size: 17px;
  margin-left: 17px;
  margin-bottom: 15px;
  padding: 0px;
  margin-top: 9px;
}
#sesion2 {
  color: #005cb5;
}
#guardar {
  position: absolute;
  right: 13px;
  top: 8px;
}

#likeIcono {
  position: absolute;
  left: 26px;
  top: 8px;
}
#comentarIcono {
  position: absolute;
  left: 64px;
  top: 8px;
}
#compartirIcono {
  position: absolute;
  left: 108px;
  top: 8px;
}
#meGustaIcono {
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  margin-top: 38px;
  margin-left: 17px;
  padding: 0%;
}
#fechaIcono {
  color: grey;
  top: 0%;
  right: 0%;
  left: 0%;
  font-size: smaller;
  margin-top: -6px;
  margin-bottom: auto;
  margin-left: 17px;
  padding: 0%;
}
#busquedaIcono {
  text-align: center;
  color: grey;
  margin-left: 613px;
  margin-top: 15px;
  margin-right: 612px;
  border-bottom: 1px solid grey;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#certificado {
  position: absolute;
  color: blue;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0%;
  margin-left: 135px;
  margin-top: 25px;
}
#certificado2 {
  position: absolute;
  color: white;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0%;
  margin-left: 136px;
  margin-top: 25px;
  font-size: 0.5rem;
}

#iconoVerificada{
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0%;
}