@font-face {
  font-family: Billabong;
  src: url(../font-awesome-4.7.0/fonts/Billabong.ttf);
}
html {
  font-family: "Roboto";
  font-size: 15px;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #f9f9f9;
}

.encabezado {
  background-color: #ffffff;
  height: 76px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  position: absolute;
}
#barraBusqueda {
  text-align: center;
  position: absolute;
  margin-left: 613px;
  margin-top: 25px;
  color: grey;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  font-style: none;
  box-shadow: none;
  text-shadow: none;
  background-color: rgba(235, 235, 235, 0.856);
}
#barraVerticalEncabezado {
  position: absolute;
  margin-left: 293px;
  margin-top: 25px;
  font-weight: bold;
  font-size: 20px;
}
#iconoInsta {
  position: absolute;
  font-size: 1.5rem;
  margin-top: 27px;
  margin-left: 260px;
}
#textoInsta {
  position: absolute;
  font-family: Billabong;
  font-weight: none;
  font-size: 35px;
  margin-top: 17px;
  margin-left: 310px;
}
#iconoBarraBusqueda {
  position: absolute;
  margin-left: 664px;
  margin-top: 31px;
  font-size: 0.7rem;
  color: grey;
}

.encuadroImagen {
  position: relative;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  margin-top: 115px;
  margin-left: 315px;
  margin-right: 312px;
  margin-bottom: 53px;
  height: 596px;
  width: 816px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.zonaFoto {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border-right: 1px solid #efefef;
}

.zonaSeguir {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-left: 480px;
  height: 70px;
  width: 336px;
  border-bottom: 1px solid #efefef;
}

.zonaComentarios {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-left: 480px;
  margin-top: 71px;
  width: 336px;
  height: 376px;
  border-bottom: 1px solid #efefef;
}

.zonaLikes {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-left: 480px;
  margin-top: 448px;
  width: 336px;
  height: 93px;
  border-bottom: 1px solid #efefef;
}

.zonaIniciarSesion {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  margin-left: 480px;
  margin-top: 542px;
  width: 336px;
  height: 55px;
}
.miniaturaPerfil {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 35px;
  height: 35px;
  border: 2.5px solid #da2d79;
  margin-left: 17px;
  margin-top: 17px;
}
.rosaliavt {
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  margin-left: 71px;
  margin-top: 20px;
  font-weight: bold;
}
#seguir {
  color: #3897f0;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  margin-left: 155px;
  margin-top: 20px;
}
#localizacion {
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0px;
  position: absolute;
  margin-top: 37px;
  margin-left: 71px;
}
#sesion {
  color: grey;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  font-size: 17px;
  margin-left: 17px;
  margin-bottom: 15px;
  padding: 0px;
  margin-top: 9px;
}
#sesion2 {
  color: #3897f0;
  font-style: normal;
}
#guardarIcono {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 1.4rem;
}
#likeIcono {
  position: absolute;
  left: 20px;
  top: 8px;
  font-size: 1.4rem;
}
#comentarIcono {
  position: absolute;
  left: 60px;
  top: 8px;
  font-size: 1.4rem;
}
#compartirIcono {
  position: absolute;
  left: 100px;
  top: 8px;
  font-size: 1.4rem;
}
#meGusta {
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  margin-top: 38px;
  margin-left: 17px;
  padding: 0%;
}
#fecha {
  color: grey;
  top: 0%;
  right: 0%;
  left: 0%;
  font-size: 10px;
  font-weight: lighter;
  margin-top: -6px;
  margin-bottom: auto;
  margin-left: 17px;
  padding: 0%;
}
#certificado {
  position: absolute;
  color: #3897f0;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0%;
  margin-left: 136px;
  margin-top: 23px;
  font-size: 0.9rem;
}
#certificado2 {
  position: absolute;
  color: white;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0%;
  margin-left: 139px;
  margin-top: 26px;
  font-size: 0.4rem;
}

#iconoVerificada {
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0%;
}

#menuContextual {
  position: absolute;
  margin-left: 313px;
  margin-top: 27px;
  font-size: 1.4rem;
}

#rosaliaComentario1 {
  position: absolute;
  padding: 0%;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  margin-top: 20px;
  margin-left: 155px;
}
#rosaliaComentario2 {
  position: absolute;
  padding: 0%;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  margin-top: 40px;
  margin-left: 70px;
}

#cargarComentarios {
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0%;
}
#plus {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0%;
  margin-left: 170px;
  margin-top: 118px;
  font-size: 1rem;
}
#circulo {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0%;
  margin-left: 163px;
  margin-top: 111px;
  font-size: 2rem;
}

#antiguedadComentario1 {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0%;
  margin-left: 70px;
  margin-top: 70px;
  color: grey;
  font-size: 13px;
}
#antiguedadComentario2 {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0%;
  margin-left: 70px;
  margin-top: 230px;
  color: grey;
  font-size: 13px;
}
#responder{
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0%;
  margin-left: 115px;
  margin-top: 230px;
  color: grey;
  font-size: 13px;
}
#nombrePerfil{
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0px;
  position: absolute;
  margin-left: 71px;
  margin-top: 205px;
  font-weight: bold;
}
#miniaturaPerfil2{
  position: absolute;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 35px;
  height: 35px;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  padding: 0px;
  border: 2.5px solid #da2d79;
  margin-left: 17px;
  margin-top: 200px;
}
